{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@CachingBlogBundle/Resources/public/css/*'
    output='js/styles.css'
%}
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link href="/js/jquery-ui-1.8.16.custom/css/eggplant/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/cachingblog/js/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        <h2>Welcome back {{ user.username }}</h2>
        <form id="new-entry" action="{{ path('create_entry') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <div class="row">
                <div class="span6">
                    <div class="form-part">
                        {{ form_label(form.title, 'Entry Title', { 'attr': {'class': 'span2'} }) }}
                        <div class="input">
                            {{ form_widget(form.title, { 'attr': {'class': 'span4'} }) }}
                        </div>
                    </div>
                    <div class="form-part">
                        {{ form_label(form.route_area, 'Route Area', { 'attr': {'class': 'span2'} }) }}
                        <div class="input">
                            {{ form_widget(form.route_area, { 'attr': {'class': 'span4'} }) }}
                        </div>
                    </div>
                    <div class="form-part">
                        {{ form_label(form.attachment, 'Route File (.gpx)', { 'attr': {'class': 'span2'} }) }}
                        <div class="input">
                            {{ form_widget(form.attachment, { 'attr': {'class': 'span4'} }) }}
                        </div>
                    </div>
                </div>
                <div class="span10">
                    <div class="form-part">
                        {{ form_label(form.entry, 'Entry', { 'attr': {'class': 'span2'} }) }}
                        <div class="input">
                            {{ form_widget(form.entry, { 'attr': {'class': 'span8'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}

            <input type="submit" value="Add Entry" class="btn primary"/>
        </form>
        <div id="html5_uploader">You browser doesn't support native upload. Try Firefox 3 or Safari 4.</div>
    {% endif %}
    {% for entry in entries %}
        <article class="entry">
            <h1>{{ entry.title }}</h1>
            <h4><a href="{{ path('view_route', { 'id': entry.Route.id }) }}">{{ entry.Route.area }}</a> {{ entry.created|date('F j, Y') }}</h4>
            <p>
                {{ entry.entry|raw }}
            </p>
        </article>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ asset('bundles/cachingblog/js/bootstrap-alerts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cachingblog/js/plupload/plupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cachingblog/js/plupload/plupload.html5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cachingblog/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cachingblog/js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}
