{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/cachingblog/js/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    {#<link href="{{ asset('js/jquery-ui-1.8.16.custom/css/eggplant/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />#}
    <link href="{{ asset('bundles/cachingblog/js/fancybox/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" />
    {#<link href="{{ asset('bundles/cachingblog/css/styles.css') }}" rel="stylesheet" type="text/css" />#}

    {#{% stylesheets filter='less' output='compiled/css/compiled_styles.css'#}
        {#'@CachingBlogBundle/Resources/public/less/fileuploader.less'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset('compiled/css/compiled_styles.css') }}" />#}
    {#{% endstylesheets %}#}

     {#Combined LESS assets #}
    {% stylesheets filter='less,cssrewrite,yui_css' output='compiled/css/compiled_styles.css'
        'bundles/cachingblog/less/*'
    %}
        <link rel="stylesheet" href="{{ asset('compiled/css/compiled_styles.css') }}" />
    {% endstylesheets %}

     {#Combined CSS assets #}
    {#{% stylesheets filter='yui_css' output='compiled/css/compiled_libraries.css'#}
        {#'bundles/cachingblog/js/fancybox/jquery.fancybox-1.3.4.css'#}
        {#'bundles/cachingblog/js/bootstrap/css/bootstrap.css'#}
    {#%}#}
        {#<link rel="stylesheet" href="{{ asset('compiled/css/compiled_libraries.css') }}" />#}
    {#{% endstylesheets %}#}

    <!--[if lt IE 9]>
        <script src="{{ asset('bundles/cachingblog/js/html5shiv.js') }}"></script>
    <![endif]-->

{% endblock %}

{% block body %}
    <div class="container">

        {% if is_granted('ROLE_ADMIN') %}
            <h2>Welcome back {{ user.username }}</h2>
            <form id="new-entry" action="{{ path('create_entry') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                <div class="row">
                    <div class="span4">
                        <div class="form-part">
                            {{ form_label(form.title, 'Entry Title', { 'attr': {'class': 'span1'} }) }}
                            <div class="input">
                                {{ form_widget(form.title, { 'attr': {'class': 'span2'} }) }}
                            </div>
                        </div>
                        <div class="form-part">
                            {{ form_label(form.route_area, 'Route Area', { 'attr': {'class': 'span1'} }) }}
                            <div class="input">
                                {{ form_widget(form.route_area, { 'attr': {'class': 'span2'} }) }}
                            </div>
                        </div>
                        <div class="form-part">
                            {{ form_label(form.attachment, 'Route File (.gpx)', { 'attr': {'class': 'span1'} }) }}
                            <div class="input">
                                {{ form_widget(form.attachment, { 'attr': {'class': 'span2'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="form-part">
                            {{ form_label(form.entry, 'Entry', { 'attr': {'class': 'span1'} }) }}
                            <div class="input">
                                {{ form_widget(form.entry, { 'attr': {'class': 'span6'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}

                <input type="submit" value="Add Entry" class="btn btn-primary"/>
            </form>
        {% endif %}

        <div class="hero-unit">
            <h1><span class="thinner">Photo</span>Cacher</h1>
            <p>My adventures delving into geocaching, photography, and web development.</p>
            <p>
                {#<a class="btn btn-primary btn-large" href="/">Home</a>#}
                <a class="btn btn-primary btn-large" href="http://www.geocaching.com/videos/default.aspx#cat=cat:newbies&vid=-4VFeYZTTYs" target="_blank">What's Geocaching?</a>
                {#<a class="btn btn-primary btn-large" href="/building-blocks">Building Blocks</a>#}
            </p>
        </div>

        {% block content %}
            {% for entry in entries %}
                {% include 'CachingBlogBundle:Home:entry.html.twig' with { 'entry': entry } %}
            {% endfor %}
        {% endblock %}

        <input type="hidden" id="post-count" value="{{ limit }}" />
    </div>
    <div id="uploader" style="display:none"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/bundles/cachingblog/js/masonry/jquery.masonry.min.js" type="text/javascript"></script>
    <script src="/bundles/cachingblog/js/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    {% javascripts filter='yui_js' output='compiled/js/compiled.js'
        '@CachingBlogBundle/Resources/public/js/fileUploader.jquery.js'
        '@CachingBlogBundle/Resources/public/js/scripts.js'
        '@CachingBlogBundle/Resources/public/js/fancybox/jquery.fancybox-1.3.4.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
